name: CI

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          uv venv
          uv pip install -e . pytest pytest-anyio

      - name: Run tests
        run: uv run pytest

  unittest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.14"
          allow-prereleases: true

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e . pytest pytest-anyio

      - name: Run tests
        run: python -m unittest discover -s tests -v
