name: CI

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Python
        uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.14"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e . pytest

      - name: Run tests
        run: python -m pytest
